<div class="panel panel-primary">
  
  <%= LabelDecorator.panel_heading %>
  
  <table class="table table-striped">
    <thead>
      <%= LabelDecorator.header_row %>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <%= label.render_row %>
      <% end %>
    </tbody>
  </table>
</div>