<!-- Modal -->
<div id="add_label_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="label-modal-content" class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Label to Case</h4>
      </div>

      <div id="label-modal-body" class="modal-body">
        Loading Case... 
      </div>
      
      <div class="modal-footer">
      </div>
      
    </div>
  </div>
</div>

